@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    position: relative;
    overflow: hidden; /* Para esconder o sublinhado que aparece */
    font-family: 'JetBrains Mono', monospace; /* Substitui a tipografia para JetBrains Mono */
  }

  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px; /* Altura do sublinhado */
    width: 100%; /* Ocupa toda a largura do link */
    background-color: #FFD700; /* Cor do sublinhado amarelo */
    transform: translateX(-100%); /* Começa fora da tela à esquerda */
    transition: transform 0.3s ease; /* Transição suave */
  }

  .nav-link:hover::after {
    transform: translateX(0); /* Move para a posição correta ao passar o mouse */
  }
}

@keyframes auraMovement {
  0% {
    box-shadow: 0 0 15px 3px rgba(168, 104, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 30px 10px rgba(168, 104, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 15px 3px rgba(168, 104, 255, 0.8);
  }
}

.aura-effect {
  animation: auraMovement 2s ease-in-out infinite;
}
